#include "/home/toby/.colors/AtelierForest"

*font: xft:Inconsolata:pixelsize=15
*boldFont: xft:Inconsolata:pixelsize=15

emacs.font: Inconsolata 12
emacs.fontbackend: xft

URxvt*perm-ext-common default,matcher,clipboard

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0000/EFF0
urxvt*scrollBar: false
